/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

# Remove macos .DS_Store
.DS_Store

# .idea files
.idea/

# .cpcache files
.cpcache/

# .clj-kondo files
.clj-kondo/
